.div-carrusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

img {
    display: flex;
    flex-direction: right;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

}

.img-carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 40px;
    background-color: #FFB71B;
    border-radius: 54px;
}


.btn-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 402px;
    height: 90px;
    left: 339px;
    top: 1552px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 45px;
    color: #1E1E1E;
    background: #FFB71B;
    border: 6px solid #FFFFFF;
    border-radius: 316.881px;
    text-decoration: none;
}

.borde-div {
    width: 428px;
    height: 114px;
    left: 296px;
    /* top: 1510px; */
    border: 6px solid #FFFFFF;
    border-radius: 316.881px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

/* redes sociales */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFB71B;
    min-height: 207px;
    position: relative;
    margin-top: 103px;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li {
    font-size: 2em;
    color: #1E1E1E;
    margin: 0 110px;
    display: inline-block;
    position: relative;
    top: 20px;
    transition: 0.5s;
    width: 95px;
    height: 95px;
    background: #FFB71B;
    border-radius: 60px;
}

footer .social-icon li img{
    position: relative;
    top: 28px;
    left: 147.5px;
    margin: 0 -120px;
    transform: scale(0);
    transition: 0.25s;
    transition-delay: 0s;
    border-radius: 0;
}

footer .social-icon li:hover img {
    position: absolute;
    transform: scale(1);
    transition-delay: 0.25s;

}

footer .social-icon li:hover {
    transform: translateY(-15px);
    width: 185px;
    height: 185px;
    margin: 0 15px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    background: #FFFFFF;
}

footer .social-icon li:hover .icon-fb {
    transform: scale(0);
    transition-delay: 0s;
}

footer .social-icon li:hover .icon-ig {
    transform: scale(0);
    transition-delay: 0s;
}

footer .social-icon li:hover .icon-wsp {
    transform: scale(0);
    transition-delay: 0s;
}

footer .wave {
    position: absolute;
    top: -88px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_03 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_04 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animateWave_03 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_04 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

.icon-wsp {
    color: #000000;
    position: relative;
    top: 12px;
    font-size: 2em;
    transition: 0.25s;
}

.icon-ig {
    color: #000000;
    position: relative;
    top: 12px;
    font-size: 2em;
    transition: 0.25s;
}

.icon-fb {
    color: #000000;
    position: relative;
    top: 12px;
    font-size: 2em;
    transition: 0.25s;
}
/* Head  */
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFB71B;
    min-height: 207px;
    position: relative;
    margin-bottom: 190px;
}
.titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 61px;
    position: absolute;
    top: 40px;
}

.wave1 {
    position: absolute;
    top: 198px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
    transform: rotate(180deg);
}

.wave1#wave11 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

.wave1#wave22 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

.wave1#wave33 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_03 3s linear infinite;
}

.wave1#wave44 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_04 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animateWave_03 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_04 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}


