span {
    color: #fff;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 0px;
    
}
.timeLocation {
    margin-right: 700px;
}



