span {
    color: #fff;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather {
    display: flex;
    padding: 12px;
    position: absolute;
    top: 0px;

}

.timeLocation {
    margin-right: 500px;
    display: flex;
}

.dateLocation {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -250px;
}