@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.a{
    position: absolute;
    top: 70px;
}
.b {
    position: absolute;
    top: 200px;
    left: 450px;
}

/* .c {
    position: absolute;
    top: 350px;
    left: 450px;
} */

.ac {
    position: absolute;
    top: 500px;
    left: 450px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;

}

.nom {
    color: #FFB71B;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    text-align: center;
    position: fixed;
    top: 350px;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 35%;
}
h1,h3{
    text-align: center;
}
.lista-profe {
    position: fixed;
    top: 630px;
    height: 24%;
    padding-top: 4rem;
    overflow-y: scroll; 
}
.titulo-docente-tarjeta {
    box-sizing: border-box;
    width: 772px;
    height: 85px;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 22px 22px 22px 22px;
    position: relative;
    top: 40px;
    left: 50px;
}
.lista-contenedor {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contenedor {
    display: flex;
    flex-direction: column;
    height: 180px;
    position: relative;
    top: -160px;
}