.logo-tour {
    position: absolute;
    top: 150px;
    left: 400px;
}

.titulo-tour {
    position: absolute;
    top: 15px;
    right: 90px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}
.div-title {
    display: flex;
    justify-content: start;
    margin-left: 60px;
}

.div-titulo {
    position: absolute;
    top: 600px;
    right: 200px;
    width: 922px;
    height: 158px;
    background: rgba(255, 183, 27, 0.4);
    border-radius: 70px;
}

.fondo-blur {
    position: absolute;
    width: 922px;
    height: 158px;
    background: rgba(255, 183, 27, 0.5);
    border: 11px solid #FFB71B;
    filter: blur(67px);
    border-radius: 70px;
}

.recorre {
    position: absolute;
    top: 750px;
    font-family: sans-serif;;
    font-style: normal; 
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    right: 300px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.virtual {
    position: absolute;
    top: 800px;
    right: 300px;
}

.btn-get {
    position: absolute;
    top: 1100px;
    right: 400px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 105.52%;
    background: #000000;
    border: 4px solid #FFFFFF;
    border-radius: 22px;
    width: 354px;
    height: 97px;
}

.imagenes {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fondo {
    position: absolute;
    top: 500px;
}

.qr {
    position: absolute;
    top: 550px;
    left: 345px;
    height: 420px;
    width: 420px;
}

.titulo-vista {
    position: absolute;
    left: 285px;
    top: 270px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}
.toti{
    position: absolute;
    left: 400px;
    width: 400px;
}
.fondocodigo {
    position: absolute;
    top: -10px;
    ;
}
.totitour2 {
    position: absolute;
    right:  0px;
    top: 800px;   
}

.posicion {
position: absolute;
left: 80px;
top: 750px;
border-radius: 70px;
}

.dos{
top: 170px;
left: 200px;
border-radius: 70px 70px 0px 70px;
width: 700px;
}
