/* TOTIS EN EL TOTEM */
.toti-ask {
    position: relative;
    left: -448px;
    top: 165px;
}
.cuerpoToti{
    position: absolute;
    top: 449px;
    left: 928px;

}
.ojosToti{
    position: absolute;
    top: 540px;
    left: 848px;
}
.toti {
    position: absolute;
    top: -12px;
}
/* OTROS */
.sub-title {
    position: relative;
    top: 380px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.marco {
    position: absolute;
    top: 535px;
}

.marco .listaEnlace {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.marco .listaEnlace li {
    width: 267px;
    height: 267px;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.marco .listaEnlace li .enlaces {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000000;
}

.marco .listaEnlace li img {
    height: 100px;
    padding: 10px;
    margin: 15px;
}

.marco .listaEnlace li:hover {
    transform: scale(1.2);
    background: rgb(255, 255, 255);
}